<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="./test/AmazonSQS/bootstrap.php" colors="true">
  <testsuites>
    <testsuite name="Test Suite">
      <directory suffix="Test.php">./test/AmazonSQS/</directory>
    </testsuite>
  </testsuites>
  <filter>
    <blacklist>
      <directory suffix=".php">/vendor</directory>
    </blacklist>
  </filter>
</phpunit>
